header {
    text-align: center;
    background-color: #0074d9;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    background-color: #0074d9;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}

footer {
    background-color: #333;
}