* {
    box-sizing: border-box;
  }

header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
}

main {
    display: flex;
    align-items: center;
  }

h1 {
    text-align: center;
}

footer {
    background-color: #333;
}

li {
    text-decoration: none;
}

a {
    color: #333;
}

a:hover {
    transition: 0.8;
}

